<!DOCTYPE html>
<html>
<head>
  <title>ToolChest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="flash"><%= flash[:notice] %></p>
<p class="flash"><%= flash[:error] %></p>

<p>
  <strong>Current Session's Tool Summary: </strong><%= current_tool_summary %>
</p>

<p>
  <strong>Newest Tool:</strong> <%= most_recent_tool.name %>
</p>

<%= yield %>

</body>
</html>
